*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.episode-list{
    max-width:300px;
}
.episode-list-item{
    display: flex;
}