*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.episode-list{
    max-width:300px;
}
.episode-list-item{
    display: flex;
    border-bottom: 1px dashed #cecece;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.episode-list-item .title a{
    text-decoration: none;
    color: inherit; /**It inherits the normal font color of black **/
}
.episode-list-item .title{
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}
.episode-list-item .title a:hover{
    text-decoration: underline;
}